/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@font-face {
  font-family: 'IRANSans';
  src: url('/assets/fonts/IRANSans.woff') format('woff'),
       url('/assets/fonts/IRANSans.ttf') format('truetype'),
       url('/assets/fonts/IRANSans.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'IRANSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

body {
  font-family: var(--font-sans);
}
